language: python
python:
  - "2.7"
install:
  - "pip install -r requirements.txt"
  - "pip install -r test-requirements.txt"
  - "python setup.py install"
script: nosetests xivo_confd
notifications:
  email:
    recipients:
      - dev.wazo+tests-reports@gmail.com
    on_success: change
    on_failure: change
branches:
  only:
    - master
sudo: false
