git+https://github.com/xivo-pbx/xivo-auth-client.git
git+https://github.com/xivo-pbx/xivo-dird-client.git
git+https://github.com/xivo-pbx/xivo-bus.git
git+https://github.com/xivo-pbx/xivo-dao.git
git+https://github.com/xivo-pbx/xivo-lib-python.git
git+https://github.com/xivo-pbx/xivo-lib-rest-client.git  # from xivo-auth-client
git+https://github.com/xivo-pbx/xivo-provd-client.git
cherrypy==3.7.0
flask-cors==1.10.3
flask-httpauth==2.2.1
flask-restful==0.3.5
flask==0.10.1
kombu==3.0.34
marshmallow==2.6.1
netifaces
psycopg2==2.5.4  # from xivo-dao
pyopenssl==0.14  # from xivo-lib-python
python-consul==0.4.7
pyyaml==3.11
requests==2.4.3
sqlalchemy==0.9.8  # from xivo-dao
stevedore==0.14.1
