https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip
https://github.com/wazo-platform/wazo-auth-client/archive/master.zip
https://github.com/wazo-platform/wazo-provd-client/archive/master.zip
https://github.com/wazo-platform/xivo-test-helpers/archive/master.zip
docker
docker-compose
kombu
nose
openapi-spec-validator
psycopg2-binary  # sqlalchemy engine
pyhamcrest
requests
sqlalchemy
