git+https://github.com/wazo-pbx/xivo-auth-client.git
git+https://github.com/wazo-pbx/xivo-test-helpers.git
git+https://github.com/wazo-pbx/xivo-provd-client.git
docker-compose
docker
nose
pyhamcrest
psycopg2  # sqlalchemy engine
requests
sqlalchemy
kombu
