git+https://github.com/wazo-pbx/wazo-auth-client.git
git+https://github.com/wazo-pbx/wazo-provd-client.git
git+https://github.com/wazo-pbx/xivo-lib-rest-client.git
git+https://github.com/wazo-pbx/xivo-test-helpers.git
docker-compose
docker
nose
pyhamcrest
psycopg2-binary  # sqlalchemy engine
requests
sqlalchemy
kombu
