Source: xivo-confd
Section: python
Priority: extra
Maintainer: XiVO Dev Team <dev@avencall.com>
Uploaders: XiVO Builder Team <release@xivo.io>
Build-Depends: debhelper (>= 8), dh-python, python-all (>= 2.7), python-setuptools
Standards-Version: 3.9.4
X-Python-Version: >= 2.7
Homepage: http://wiki.xivo.io

Package: xivo-confd
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, xivo-libconfd (>= 13.15)
Provides: xivo-restapi
Conflicts: xivo-restapi
Replaces: xivo-restapi
Description: XIVO confd server
 XIVO is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .

Package: xivo-libconfd
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         xivo-libdao (>= 13.02~20130131.124922.ae70e6f-1),
         python-flask,
         python-flask-httpauth,
         python-flup
Provides: xivo-librestapi
Conflicts: xivo-librestapi
Replaces: xivo-librestapi
Description: XIVO confd lib
 XIVO is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
