Source: xivo-confd
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9), dh-python, dh-systemd (>= 1.5), python-all (>= 2.7), python-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: xivo-confd
Architecture: all
Provides: xivo-restapi, xivo-librestapi, xivo-libconfd
Conflicts: xivo-restapi, xivo-librestapi, xivo-libconfd
Replaces: xivo-restapi, xivo-librestapi, xivo-libconfd
Depends: ${python:Depends},
         ${misc:Depends},
         xivo-auth-client,
         xivo-bus (>= 15.05~20150311.194150.b00ca46-1),
         xivo-libdao (>= 16.05~20160415.191256.a9a58af),
         xivo-lib-python (>= 16.01~20160126.142549.6a8721a),
         xivo-manage-db (>> 16.01),
         wazo-provd-client,
         python-consul,
         python-flask,
         python-flask-cors (>= 3.0.2),
         python-flask-restful,
         python-cherrypy3,
         python-cheroot,
         python-requests (>= 2.4.3),
         python-netifaces,
         python-marshmallow,
         python-tz
Description: Wazo confd server
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
