Source: wazo-confd
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 12), dh-python, python3-all, python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.9

Package: wazo-confd
Architecture: all
Provides: xivo-confd
Conflicts: xivo-confd
Replaces: xivo-confd
Depends:
  ${python3:Depends},
  ${misc:Depends},
  asterisk-doc,
  python3-cheroot,
  python3-consul,
  python3-flask,
  python3-flask-cors,
  python3-flask-restful,
  python3-kombu,
  python3-marshmallow,
  python3-netifaces,
  python3-requests,
  python3-werkzeug,
  python3-tz,
  rename,
  wazo-auth-client-python3,
  wazo-provd-client-python3,
  xivo-bus-python3,
  xivo-lib-python-python3,
  xivo-libdao-python3,
  xivo-manage-db
Description: Wazo configuration server
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
