[Unit]
Description=wazo-confd server
After=network.target postgresql.service
StartLimitBurst=15
StartLimitIntervalSec=150

[Service]
ExecStart=/usr/bin/wazo-confd
ExecStartPost=/usr/bin/wazo-confd-wait
Restart=on-failure
RestartSec=5
SyslogIdentifier=wazo-confd

[Install]
WantedBy=multi-user.target
