[Unit]
Description=wazo-confd server
After=network.target postgresql.service
StartLimitBurst=15
StartLimitIntervalSec=150

[Service]
ExecStart=/usr/bin/wazo-confd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
